#root {
  background: black;
}
.scroll_enabled {
  scrollbar-gutter: stable both-edges;
  /* overflow-x: scroll; */
  /* define your custom height */
  /* height: 1000px; */
}

.scroll_enabled::-webkit-scrollbar {
  width: 15px;
}
.scroll_enabled::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.scroll_enabled::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.scroll_enabled::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.oneLineText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twoLineText {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
